/* area debug */

.debug .box_logo {
    /* background-color: blue; */
    /* height: 20px; */
}
.debug .box_menu {
    /* background-color: red; */
    /* height: 20px; */
}
.debug .jumbo {
    /* min-height: 200px; */
}
.debug .portfoglio {
    min-height: 300px;
}
.debug .cerchio {
    min-height:100px;
}
.debug .about {
    min-height: 200px;
}
.debug .info_foot {
    min-height: 50px;
}
.debug .copyright {
    min-height: 30px;
}

/* body */
.container_body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

/* barra nav menu */
.box {
    width: 100%;
}
.bg_navy{
    background-color: #2c3e50;
}

/* jumbo */
.jumbo, .about {
    background-color: #1abc9c;
    color: white;
}
.jumbo {
    padding-top: 6rem;
}
.jumbo img {
    width: 17rem;
}
.line_star {
    width: 10rem;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* portfoglio */
.portfoglio .row {
    margin: 4rem 0;
}
.cerchio {
    margin: 0.5rem 0;
}
.cabin {
    background-color: #ba4b63;
}
.cake {
    background-color: #1ea4b6;
}
.circus {
    background-color: #140f0f;
}
.game {
    background-color: #1c83c1;
}
.safe {
    background-color: #0e38b5;
}
.submarine {
    background-color: #ccb2a3;
}

/* about */
.about, .contact {
    padding: 3rem 8rem;
}

/* footer */
footer {
    color:white;
}
.info_foot {
    background-color: #3a546d;
}
.copyright {
    background-color: #2c3e50;
}


@media (min-width: 576px) {
    .large_menu{
        display: flex !important;
    }
    .menu_btn {
        display: none;
    }
    header.container, footer .container{
        width: 100%;
        max-width: unset;
        margin:0;
        padding:0;
    }
    main .container {
        max-width: unset;
        margin:auto
    }
}